<div class="container-fluid px-0">
  <div class="row bg-light ml-0 mr-0">
    <div class="footer-block-main col-md-4">
      <h5 class="footer-block-main-subtitle">
        Bookmark
        <i class="bi bi-bookmark-star float-right"></i>
      </h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/timeline">Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skills-projects"
            >Skills & Projects</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/privacy">Privacy</a>
        </li>
      </ul>
    </div>
    <div class="footer-block-social col-md-4">
      <h5 class="footer-block-main-subtitle">
        Connect
        <i class="bi bi-at float-right"></i>
      </h5>
      <div class="contact-icons-social">
        <a
          type="button"
          class="btn shadow-none"
          role="button"
          href="https://github.com/GourabIX"
          target="_blank"
          rel="noreferrer"
        >
          <i class="bi bi-github align-middle" title="GitHub"></i>
        </a>
        <a
          type="button"
          class="btn shadow-none"
          role="button"
          href="https://www.linkedin.com/in/gourabs9/"
          target="_blank"
          rel="noreferrer"
        >
          <i class="bi bi-linkedin align-middle" title="LinkedIn"></i>
        </a>
        <a
          type="button"
          class="btn shadow-none"
          role="button"
          href="https://sanctum9.wordpress.com/"
          target="_blank"
          rel="noreferrer"
        >
          <img
            src="assets/svg/s9-logo.svg"
            id="s9-logo-svg"
            alt="Sanctum Nine (Tech blog)"
          />
        </a>
        <a
          type="button"
          class="btn shadow-none"
          role="button"
          href="mailto:gourabsarkar.x@gmail.com"
          target="_blank"
          rel="noreferrer"
        >
          <i
            class="bi bi-envelope-fill align-middle"
            title="Send me an email"
          ></i>
        </a>
      </div>
      <hr class="mr-2 ml-3" />
      <p class="pl-3">
        Or, you may also prefer to reach me directly via the
        <a routerLink="/contact" id="contact-link-social-block"
          ><em>Contact page</em></a
        >.
      </p>
    </div>
    <div class="footer-block-about col-md-4">
      <h5 class="footer-block-main-subtitle">
        About Me
        <i class="bi bi-person-square float-right"></i>
      </h5>
      <div class="card bg-light ml-3 mt-3">
        <img src="assets/images/gourab_sarkar.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">Gourab Sarkar</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Full-stack Web Developer | Zensar
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-block text-center bg-light">
    <h6>
      Copyright &copy; 2021 Gourab Sarkar
      <i class="bi bi-dot align-middle"></i>
      Handcrafted by me with
      <i
        class="bi bi-heart align-middle"
        style="color: #ff0054"
        title="Love"
      ></i>
      for the Web.
    </h6>
  </div>
</div>
