<div class="container-fluid">
  <div class="subtitle main-intro">Timeline: Work and Recognitions</div>
</div>
<div class="timeline" style="margin-top: 50px">
  <!-- Work - Accenture -->
  <div class="timeline-container right">
    <div class="content shadow bg-body">
      <div class="h3">
        Accenture
        <i class="bi bi-laptop align-middle float-right"></i>
      </div>
      <div class="h5 text-muted">
        Application Development Senior Analyst | May 2022 - Present
      </div>
      <p class="text-justify">
        Working as a senior contributor in the Full-Stack web application domain
        for Accenture clients.
      </p>
    </div>
  </div>

  <!-- Awards -->
  <div class="timeline-container left">
    <div class="content shadow bg-body">
      <div class="h3">
        Star Achiever - H1FY22
        <i class="bi bi-trophy align-middle float-right"></i>
      </div>
      <div class="h5">Awarded by Zensar</div>
      <div class="h5 text-muted">Software Engineer | Dec 2021</div>
    </div>
  </div>
  <div class="timeline-container left">
    <div class="content shadow bg-body">
      <div class="h3">
        CX Innovation Team of the Year - 2021
        <i class="bi bi-trophy align-middle float-right"></i>
      </div>
      <div class="h5">Awarded by Zensar</div>
      <div class="h5 text-muted">Software Engineer | Nov 2021</div>
    </div>
  </div>
  <div class="timeline-container left">
    <div class="content shadow bg-body">
      <div class="h3">
        Rising Star - H1FY21
        <i class="bi bi-trophy align-middle float-right"></i>
      </div>
      <div class="h5">Awarded by Zensar</div>
      <div class="h5 text-muted">Software Engineer | Feb 2021</div>
    </div>
  </div>

  <!-- Work - Zensar -->
  <div class="timeline-container right">
    <div class="content shadow bg-body">
      <div class="h3">
        Zensar
        <i class="bi bi-laptop align-middle float-right"></i>
      </div>
      <div class="h5 text-muted">Software Engineer | Aug 2019 - May 2022</div>
      <p class="text-justify">
        Working as a Full-Stack web application developer to design & develop
        efficient RESTful Web Services projects for multiple high profile
        clients, that leverage services provided by AWS and GCP.
      </p>
    </div>
  </div>

  <!-- Awards -->
  <div class="timeline-container left">
    <div class="content shadow bg-body">
      <div class="h3">
        Product Quality Excellence - BTCORE
        <i class="bi bi-award align-middle float-right"></i>
      </div>
      <div class="h5">Recognised by Intel</div>
      <div class="h5 text-muted">Software Development Intern | May 2019</div>
    </div>
  </div>
  <div class="timeline-container left">
    <div class="content shadow bg-body">
      <div class="h3">
        End-to-End Automatic Build Verification System
        <i class="bi bi-award align-middle float-right"></i>
      </div>
      <div class="h5">Recognised by Intel</div>
      <div class="h5 text-muted">Software Development Intern | May 2019</div>
    </div>
  </div>

  <!-- Work - Intel -->
  <div class="timeline-container right">
    <div class="content shadow bg-body">
      <div class="h3">
        Intel
        <i class="bi bi-laptop align-middle float-right"></i>
      </div>
      <div class="h5 text-muted">
        Software Development Intern | Aug 2018 - Jun 2019
      </div>
      <p class="text-justify">
        Extensively worked on Intel's Bluetooth Firmware Validation tool by
        re-configuring several parts of the existing codebase and integrating
        new modules written in Python. Implemented & validated several usage
        scenarios of Bluetooth BR/EDR and LE functionalities.
      </p>
      <p class="text-justify">
        Designed & Developed an end to end automatic build verification system
        written in Perl, tuned to diverse configurations, with high
        maintainability & customizability.
      </p>
    </div>
  </div>

  <!-- Graduation -->
  <div class="timeline-container right">
    <div class="content shadow bg-body">
      <div class="h3">
        B.Tech (Graduation)
        <i class="bi bi-patch-check align-middle float-right"></i>
      </div>
      <div class="h5 text-muted">
        Electronics & Communication Engineering | 2015-2019
      </div>
      <div class="education-details">
        <div class="university mb-2">
          <i class="bi bi-arrow-right text-muted mr-2"></i>Under Maulana Abul
          Kalam Azad University of Technology (formerly, WBUT)
        </div>
        <div class="institute mb-2">
          <i class="bi bi-arrow-right text-muted mr-2"></i>From Techno India -
          Batanagar
        </div>
        <div class="gpa">
          <i class="bi bi-arrow-right text-muted mr-2"></i>With 8.39 GPA
        </div>
      </div>
    </div>
  </div>

  <!-- Awards -->
  <div class="timeline-container left">
    <div class="content shadow bg-body">
      <div class="h3">
        Academic Awards
        <i class="bi bi-trophy align-middle float-right"></i>
      </div>
      <div class="h5 text-muted">Techno India - Batanagar</div>
      <p class="text-justify">
        Received multiple awards from Institute for academic merit and overall
        performance in academia and related activities & contests.
      </p>
    </div>
  </div>
</div>
